<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="tools">VUTTR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="tools">Tools</a>
        </li>

        <li routerLinkActive="active" class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vinícius
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" (click)="deslogar()">
              Sair
            </a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
