<div class="form-inline mb-2 mt-2">
  <div class="input-group">
    <input type="text" class="form-control mb-2" placeholder="Buscar por Tags da Tool"
    [(ngModel)]="filtroLista">
    <div class="input-group-append">
      <button class="btn btn-outline-success" (click)="getToolsByTag(filtroLista)">Buscar</button>
      <button class="btn btn-outline-primary" type="button" (click)="NewTool(template)">
        <i class="fa fa-plus-circle"></i>&nbsp;
        Incluir
      </button>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identificador</th>
      <th scope="col">Título</th>
      <th scope="col">Link</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody *ngIf="tools && tools.length">
    <tr *ngFor="let tool of tools | slice: (page-1) * pageSize : page * pageSize">
      <td>{{tool.id}}</td>
      <td>{{tool.title}}</td>
      <td>{{tool.link}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm mr-2" tooltip="Editar"
          (click)="EditTool( tool, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Excluir"
          (click)="openDeleteTool( tool, templateDeletar)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!tools || tools.length < 1">
    <tr>
      <td colspan="4" class="text-center">
        <h4>Nenhuma tool encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="previousPage()"
      *ngIf="ValidaVoltar()" >Voltar</a></li>
    <li class="page-item"><a class="page-link" (click)="previousPage()"
      *ngIf="ValidaPrimeiro()" >{{page-1}}</a></li>
    <li class="page-item disabled"><a class="active page-link"
      *ngIf="ValidaSegundo()">{{page}}</a></li>
    <li class="page-item"><a class="page-link" (click)="nextPage()"
      *ngIf="ValidaTerceiro()">{{page+1}}</a></li>
    <li class="page-item"><a class="page-link" (click)="nextPage()"
      *ngIf="ValidaProximo()">Próximo</a></li>
  </ul>
</nav>

<!-- MODAL DE ADD E EDIT -->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Tool</h4>
        <button type="button" class="" (click)="template.hide()" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Identificador</label>
              <input type="text" class="form-control" formControlName="id" value="0" readonly>
              <label>Título</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('title')!.errors
                                     && registerForm.get('title')!.touched}"
              formControlName="title">
              <div *ngIf="registerForm.get('title')!.hasError('required')
                       && registerForm.get('title')!.touched" class="invalid-feedback">
                O Título é obrigatório.
              </div>
              <div *ngIf="registerForm.get('title')!.hasError('minlength')
                       && registerForm.get('title')!.touched" class="invalid-feedback">
                O Título deve ter pelo menos 4 caracteres.
              </div>
              <div *ngIf="registerForm.get('title')!.hasError('maxlength')
                       && registerForm.get('title')!.touched" class="invalid-feedback">
                O Título deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('description')!.errors
                                     && registerForm.get('description')!.touched}"
              formControlName="description">
              <div *ngIf="registerForm.get('description')!.hasError('required')
                       && registerForm.get('description')!.touched" class="invalid-feedback">
                A descrição é obrigatória.
              </div>
              <div *ngIf="registerForm.get('description')!.hasError('minlength')
                       && registerForm.get('description')!.touched" class="invalid-feedback">
                A descrição deve ter pelo menos 10 caracteres.
              </div>
              <div *ngIf="registerForm.get('description')!.hasError('maxlength')
                       && registerForm.get('description')!.touched" class="invalid-feedback">
                A descrição deve ter no máximo 200 caracteres.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Link</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('link')!.errors
                                     && registerForm.get('link')!.touched}"
              formControlName="link">
              <div *ngIf="registerForm.get('link')!.errors
                       && registerForm.get('link')!.touched" class="invalid-feedback">
                O Link é obrigatório.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tags</label>
              <div formArrayName="tags" class="form-row">
                <div *ngFor="let tag of tags.controls; let i=index">
                  <div mb-3 class="input-group mb-3" [formGroupName]="i">
                    <input class="form-control"  type="text" formControlName="tag">
                    <div class="input-group-append">
                      <button class="btn btn-outline-danger" (click)="removeTag(i)">Deletar</button>
                    </div>
                  </div>
                </div>
                <p class="mt-2">
                  <button class="btn btn-outline-primary" type="button" (click)="addTag()">Nova Tag</button>
                </p>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer d-flex">

        <!--
        <p> Form Value: {{registerForm.value | json}} </p>
        <p> Form Status: {{registerForm.status | json}} </p>
        -->

        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>



<!-- MODAL DE DELETAR -->
<div class="modal" bsModal #templateDeletar="bs-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deletar Tool</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="templateDeletar.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ bodyTemplateModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
        (click)="deleteTool(templateDeletar)">Deletar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="templateDeletar.hide()">Voltar</button>
      </div>
    </div>
  </div>
</div>
