<form [formGroup]="loginForm">
  <div class="form-row">
    <div class="form-group">
      <label>Username</label>
      <input formControlName="username" type="text" class="form-control" placeholder="Username"
      [ngClass]="{'is-invalid': loginForm.get('username')!.errors
                             && loginForm.get('username')!.touched}">
      <div *ngIf="loginForm.get('username')!.hasError('required')
            && loginForm.get('username')!.touched" class="invalid-feedback">
            Digite o seu login.
      </div>

      <label>Password</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Password"
      [ngClass]="{'is-invalid': loginForm.get('password')!.errors
                             && loginForm.get('password')!.touched}">
      <div *ngIf="loginForm.get('password')!.hasError('required')
            && loginForm.get('password')!.touched" class="invalid-feedback">
            Digite a sua senha.
      </div>

      <button (click)="logar()" type="submit" class="btn btn-primary">Entrar</button>
      <button (click)="router.navigate(['/user/registration'])" class="btn btn-secondary">Cadastrar</button>
    </div>
  </div>
</form>
